html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, em, img, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: #333333; }
  body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a, a:hover, a:active {
  outline: none; }

a img {
  border: 0; }

.error_404 {
  color: #fff;
  background: #4285F4;
  height: 100vH;
  line-height: 100vH; }
  .error_404 div {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%; }
  .error_404 h1 {
    font-size: 80px;
    font-weight: 300; }
  .error_404 h2 {
    font-size: 30px;
    font-weight: 300; }

.wrapper {
  max-width: 650px;
  margin: auto;
  padding: 0 40px; }

.home section {
  padding: 40px 0; }
  .home section ol {
    padding-left: 20px; }
    .home section ol li {
      padding-left: 10px;
      padding-bottom: 15px;
      font-size: 15px;
      font-weight: 300; }
      .home section ol li:hover a.remove {
        display: block; }
  .home section a:hover {
    text-decoration: underline; }
  .home section a.route {
    display: inline-block;
    color: #4285F4;
    font-size: 16px;
    font-weight: 400; }
  .home section a.remove {
    display: none;
    color: #f25130;
    cursor: pointer;
    font-size: 12px;
    float: right;
    margin-top: 2px; }

.home form {
  display: block;
  padding: 40px 0;
  background: #4285F4; }

.home .field {
  position: relative;
  margin-bottom: 20px; }
  .home .field span {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0; }
    .home .field span::before, .home .field span::after {
      content: '';
      height: 1px;
      width: 0;
      top: 0;
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .home .field span::before {
      left: 50%; }
    .home .field span::after {
      right: 50%; }
  .home .field input:focus + span::before, .home .field input:focus + span::after {
    width: 50%; }

.home input[type="text"] {
  height: 40px;
  line-height: 40px;
  color: #eaf2fe;
  background: transparent;
  border: none;
  border-bottom: 1px solid #97bcf9;
  outline: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color .3s ease-out, border .3s ease-out;
  transition: color .3s ease-out, border .3s ease-out; }
  .home input[type="text"]:focus {
    outline: none; }
  .home input[type="text"]::-moz-selection, .home input[type="text"]::-moz-selection {
    background: transparent; }
  .home input[type="text"]::selection, .home input[type="text"]::-moz-selection {
    background: transparent; }
  .home input[type="text"]::-webkit-input-placeholder {
    color: #97bcf9;
    font-weight: 300; }
  .home input[type="text"]:-ms-input-placeholder {
    color: #97bcf9;
    font-weight: 300; }
  .home input[type="text"]::placeholder {
    color: #97bcf9;
    font-weight: 300; }

.home button {
  border: none;
  background: #97bcf9;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out; }
  .home button:hover {
    background: rgba(151, 188, 249, 0.8); }

.driving-route .route-map {
  height: 100vH; }
