html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, a, p, blockquote, em, img, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: #333333;

  * {
    box-sizing: border-box;
  }
}

a {
  &,
  &:hover,
  &:active {
    outline: none;
  }

  img {
    border: 0;
  }
}

$color-blue: #4285F4;
$field-text-color: #97bcf9;

.error_404 {
  color: #fff;
  background: $color-blue;
  height: 100vH;
  line-height: 100vH;

  div {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }

  h1 {
    font-size: 80px;
    font-weight: 300;
  }

  h2 {
    font-size: 30px;
    font-weight: 300;
  }
}

.wrapper {
  max-width: 650px;
  margin: auto;
  padding: 0 40px;
}

.home {

  section {
    padding: 40px 0;

    ol {
      padding-left: 20px;

      li {
        padding-left: 10px;
        padding-bottom: 15px;
        font-size: 15px;
        font-weight: 300;

        &:hover {
          a.remove {
            display: block;
          }
        }
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }

      &.route {
        display: inline-block;
        color: $color-blue;
        font-size: 16px;
        font-weight: 400;
      }

      &.remove {
        display: none;
        color: #f25130;
        cursor: pointer;
        font-size: 12px;
        float: right;
        margin-top: 2px;
      }
    }
  }

  form {
    display: block;
    padding: 40px 0;
    background: $color-blue;
  }

  .field {
    position: relative;
    margin-bottom: 20px;

    span {
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;

      &::before,
      &::after {
        content: '';
        height: 1px;
        width: 0;
        top: 0;
        position: absolute;
        background: rgba(255,255,255,.8);
        transition: all .2s ease;
      }

      &::before {
        left: 50%;
      }
      &::after {
        right: 50%;
      }
    }

    input:focus + span {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  input[type="text"] {
    height: 40px;
    line-height: 40px;
    color: #eaf2fe;
    background: transparent;
    border: none;
    border-bottom: 1px solid $field-text-color;
    outline: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
    transition: color .3s ease-out, border .3s ease-out;

    &:focus {
      outline: none;
    }

    &::selection,
    &::-moz-selection {
      background: transparent;
    }

    &::placeholder {
      color: $field-text-color;
      font-weight: 300;
    }
  }

  button {
    border: none;
    background: $field-text-color;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    transition: background .2s ease-out;

    &:hover {
      background: rgba($field-text-color, .8);
    }
  }
}

.driving-route {

  .route-map {
    height: 100vH;
  }
}
